cervical_cancer/
diagnostic/
mammographic/
messidor/
original/
prognostic/
1069_5gt/
1069_7gt/
1086_5ge/
1086_7ge/
1143_5gte/
1143_7gte/
1069_5gt.txt
1069_7gt.txt
1086_5ge.txt
1086_7ge.txt
1143_5gte.txt
1143_7gte.txt
indian_liver/
secom/
seismic_bumps/
spam/
vertebral_column/
wilt/
